body {
    background-color: #15202B;
    color: #fff;
    margin: 0;
}

main {
    margin: 1% 5%;
}

a:-webkit-any-link  {
    color: #fff;
}

ul {
  list-style-type: none;
}

table {
    border-collapse:collapse;
}

.mrTable {
    width: 100%;
}

.headerBox {
    background-color: #292961;
    height: 30px;
    font-size: 25px;
    padding: 12px 0px;
    text-align: center;
}

.assigneeAvatarImg {
    width: 50px;
    height: 50px;
    border: solid;
    border-width: 0.5px;
    border-radius: 50%;
}

.authorAvatarImg {
    width: 25px;
    height: 25px;
    border: solid;
    border-width: 0.5px;
    border-radius: 50%;
}

.avatar {
    position: relative;
    padding: 1rem;
}

.badge {
    position: absolute;
    top: 0.5rem;
    left: 3.2rem;
    width: 23px;
    height: 23px;
    border-radius: 50%;
    background-color: #E93F33;
    color: white;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    font-weight: bold;
   padding: 2px 3px;
}

.assigneeBox {
    margin-bottom: 10px;
    border-bottom: solid;
    border-bottom-width: thin;
    border-bottom-color: darkgray;
}

.mrList {
    margin: 0;
    padding: 0;
}

.mrList li:not(:last-child) {
    border-bottom: solid;
    border-bottom-width: thin;
    border-bottom-color: darkgray;
}

.mrBox {
    padding: 5px;
    display: flex;
}

.mrLinkBox {
    margin-bottom: 5px;
}

.mrLink {
    text-decoration: none;
    font-weight: bold;
}

.mrLink:hover {
    opacity: 0.7;
}

.titleBox {
    padding-right: 20px;
}

.at {
    color: darkgray;
    font-size: 13px;
    padding-right: 10px;
}

.authorBox {
    margin-left: auto;
}

footer {
    position: absolute;
    bottom: 0;
}

.footerBox {
    height: 30px;
    padding: 12px 12px;
}

.footerBox .appVer {
    color: darkgray;
    font-size: 10pt;
}