<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>List</title>
        <link rel="stylesheet" th:href="@{/css/list.css}">
    </head>
    <body>
        <div th:replace="fragment/header::header"></div>
        <main>
            <table class="mrTable">
                <tr class="assigneeBox" th:each="infoForm : ${mrInfoFormList}">
                    <td>
                        <div class="avatar">
                            <img class="assigneeAvatarImg" th:src="${infoForm.assignee.avatarUrl}"/>
                            <span class="badge" th:text="${infoForm.assignedMrCount}">1</span>
                        </div>
                    </td>
                    <td>
                        <ul class="mrList">
                            <li th:each="detailForm : ${infoForm.mrDetailForms}">
                                <div class="mrBox">
                                    <div class="authorBox">
                                        <img class="authorAvatarImg" th:src="${detailForm.author.avatarUrl}"/>
                                    </div>
                                    <div class="titleBox">
                                        <div class="mrLinkBox">
                                            <a class="mrLink" th:href="${detailForm.webUrl}"
                                               th:text="${detailForm.title}"
                                               target="_blank">MRタイトル</a>
                                        </div>
                                        <span class="at">
                                            created at:[[${#temporals.format(detailForm.createdAt, 'yyyy/MM/dd
                                            HH:mm:ss')}]]
                                        </span>
                                        <span class="at">
                                            updated at:[[${#temporals.format(detailForm.updatedAt, 'yyyy/MM/dd
                                            HH:mm:ss')}]]
                                        </span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </td>
                </tr>
            </table>
        </main>
        <div th:replace="fragment/footer::footer"></div>
    </body>
</html>